/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

header {
  margin-bottom: 1rem;
}
header ul {
  padding: 0;
  display: flex;
  list-style: none;
}

header ul li {
  padding: 0 2em;
  background-color: greenyellow;
}

header ul li a {
  font-size: 20px;
}
.page-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 80vw;
  border: 1px solid green;
}

.memes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1em;

  border: 2px solid blue;
  padding: 1em;
  background-color: azure;
}

.meme {
  width: 30%;
  border: 1px solid red;
  border-radius: 10px;
  overflow: hidden;
}
