/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

header {
  margin-bottom: 1rem;
}
header ul {
  padding: 0;
  display: flex;
  list-style: none;
}

header ul li {
  padding: 0 2em;
  background-color: greenyellow;
}

header ul li a {
  font-size: 20px;
}
.page-container {
  margin: 0 auto;
  max-width: 1280px;
  width: calc(100% - 10px);
  border: 1px solid black;
}

.bg-text {
  position: absolute;
  top: 400px;
  font-size: 10em;
}

.memes-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 1em;
  column-gap: 1em;

  /* border: 2px solid blue; */
  padding: 1em;
  background-color: rgb(162, 186, 169);
}

.meme {
  width: 30%;
  min-width: 300px;

  /* border: 1px solid red; */
  border-radius: 7px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 0px rgb(125, 125, 125);

  position: relative;
  bottom: 1px;
  transition: bottom 0.2s, box-shadow 0.2s;
  backdrop-filter: blur(8.5px);
}
.meme img {
  /* width: 200px; */
  height: 400px;
  object-fit: cover;
}
.meme img:hover {
  object-fit: contain;
}
.meme:hover {
  box-shadow: 0 0 15px 5px rgb(128, 128, 128);
  bottom: 10px;
}

.button-container {
  margin: 0.5rem 0;
}

.button-container button {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0 10px;
  border-radius: 10px;
  color: black;
  background-color: transparent;
}

.button-container .like-btn.active {
  background-color: rgba(0, 128, 0, 0.354);
}

.button-container .dislike-btn.active {
  background-color: rgba(255, 0, 0, 0.379);
}

.px-3 {
  padding: 0 1em;
}
